$primary-color-dark: #38e54d;
$primary-color-light: #0b951b;
$primary-light-text: #333;
$accent-color-dark: white;
$accent-color-light: black;
$footer-color-dark: #020617;
$footer-color-light: #f1f5f9;