.wrapper {
  width: 100%;
}
.container {
  max-width: 1264px;
  margin: 0 auto;
}
@mixin ellipsisText {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}
.multiline-ellipsis-4 {
  -webkit-line-clamp: 4; /* start showing ellipsis when 4rd line is reached */
  @include ellipsisText();
}
.multiline-ellipsis-2 {
  -webkit-line-clamp: 2; /* start showing ellipsis when 2rd line is reached */
  @include ellipsisText();
}
.multiline-ellipsis-3 {
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  @include ellipsisText();
}
.multiline-ellipsis-1 {
  -webkit-line-clamp: 1; /* start showing ellipsis when 1rd line is reached */
  @include ellipsisText();
}
.multiline-ellipsis-10 {
  -webkit-line-clamp: 10; /* start showing ellipsis when 10rd line is reached */
  @include ellipsisText();
}

button {
  cursor: pointer;
  padding: 0.2rem 1rem;
  background-color: rgb(255, 255, 255, 0.1);
  color: inherit;
  margin-top: 0.5rem;
  border: 1px solid;
  border-radius: 3px;
  border-left: 0.2rem solid;
  border-bottom: 0.3rem solid;
  border-color: var(--border-color) !important;
  font-size: 0.6rem !important;
  outline: none;
  // transition: all 0.2s linear;
}
button:active {
  border: 1px solid;
}
input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
.carousel-prev,
.carousel-next {
  font-size: 1rem !important;
}
.ql-container {
  min-height: 70vh !important;
}
.ql-video {
  display: none !important;
}
@media screen and (min-width: 768px) and (max-width: 998px) {
  button {
    margin-top: 0.2rem !important;
  }
  .multiline-ellipsis-4 {
    -webkit-line-clamp: 3 !important; /* start showing ellipsis when 4rd line is reached */
    @include ellipsisText();
  }
}
@media screen and (max-width: 534px) {
  .multiline-ellipsis-4 {
    -webkit-line-clamp: 2 !important; /* start showing ellipsis when 4rd line is reached */
    @include ellipsisText();
  }
}

.content-editor {
  blockquote {
    border-left: 3px solid white !important;
    padding: 1rem 1.5rem;
    background-image: linear-gradient(
      to right,
      var(--footer-color),
      transparent
    );
  }

  pre.ql-syntax {
    background-color: var(--footer-color);
    padding: 1rem 1.5rem;
    font-family: monospace;
    font-size: 1.05rem;
    color: var(--primary-color);
  }
  .ql-align-right {
    text-align: end;
  }
  .ql-align-justify {
    text-align: justify;
  }
  .ql-align-center {
    text-align: center;
  }
  .ql-font-monospace {
    font-family: monospace;
  }
  .ql-font-serif {
    font-family: serif;
  }
  .ql-indent-1 {
    padding-left: 1rem;
  }
  .ql-indent-2 {
    padding-left: 2rem;
  }
  .ql-indent-3 {
    padding-left: 3rem;
  }
  .ql-indent-4 {
    padding-left: 4rem;
  }
  .ql-indent-5 {
    padding-left: 5rem;
  }
  .ql-indent-6 {
    padding-left: 6rem;
  }
  .ql-indent-7 {
    padding-left: 7rem;
  }
  .ql-indent-8 {
    padding-left: 8rem;
  }

  p {
    line-height: 1.3rem;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }
  ul,
  ol {
    padding-left: 2rem;
  }
}
