.light {
  --accent-color: #facc15;
  --primary-color: #fbbf24;
  --footer-color: #f1f5f9;
  --text-color: #333;
  --border-color: #555555;
  --bg-secondary: #d1d5db;
  --bg-reply: #e5e7eb;
  background-image: linear-gradient(to right, #e2e8f0, #e5e7eb);
  color: var(--text-color);
  .gradient-color-text {
    background: -webkit-linear-gradient(#facc15, var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .active {
    color: var(--primary-color) !important;
    font-weight: bold;
  }
  .nav-link:hover {
    color: var(--primary-color) !important;
  }
  .accent-color {
    accent-color: var(--accent-color);
  }
  .footer-bg-color {
    background-color: var(--footer-color);
  }
  .thumbnail {
    filter: grayscale(0) !important;
  }
  .bg-primary {
    background-image: linear-gradient(to right, #e2e8f0, #e5e7eb);
    color: var(--text-color);
  }
}

.dark {
  --primary-color: #38e54d;
  --accent-color: #84ff00;
  --footer-color: rgb(3, 6, 23);
  --border-color: #cecece;
  --text-color: rgb(250, 250, 250);
  --bg-secondary: #1f2937;
  --bg-reply: #334155;

  background-image: linear-gradient(to right, #0f172a, #111827);
  color: var(--text-color) !important;
  .gradient-color-text {
    background: -webkit-linear-gradient(#84ff00, var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blob {
    filter: hue-rotate(90deg);
  }
  .active {
    color: var(--primary-color) !important;
    font-weight: bold;
  }
  .nav-link:hover {
    color: var(--primary-color) !important;
  }
  .bg-primary {
    background-image: linear-gradient(to right, #0f172a, #111827);
    color: #e2e8f0;
  }
  .accent-color {
    accent-color: var(--accent-color);
  }
  .footer-bg-color {
    background-color: var(--footer-color);
  }
  .blur {
    background-image: linear-gradient(
      to right,
      rgb(15, 23, 41, 0.8),
      rgb(15, 23, 41, 0)
    );
  }
}
