@use "./styles/variable";
* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.light {
  background-image: linear-gradient(to right, #e2e8f0, #e5e7eb);
  color: #333 !important;
  .nav-link:hover {
    color: variable.$primary-color-light !important;
    transition: all 0.3s ease-in-out;
  }
  .active {
    color: variable.$primary-color-light !important;
    font-weight: bold;
  }
  .bg-primary {
    background-image: linear-gradient(to right, #e2e8f0, #e5e7eb);
    color: hsl(0, 0%, 20%);
  }
  .accent-color {
    accent-color: black !important;
  }
  .footer-bg-color {
    background-color: #f1f5f9;
  }
}

.dark {
  /* background-color: #0f172a !important; */
  background-image: linear-gradient(to right, #0f172a, #111827);
  color: white !important;
  .nav-link:hover {
    color: variable.$primary-color-dark !important;
    transition: all 0.3s ease-in-out;
  }
  .active {
    color: variable.$primary-color-dark !important;
    font-weight: bold;
  }
  .bg-primary {
    background-image: linear-gradient(to right, #0f172a, #111827);
    color: #e2e8f0;
  }
  .accent-color {
    accent-color: white !important;
  }
  .footer-bg-color {
    background-color: #020617;
  }
}

.wrapper {
  width: 100%;
}
.container {
  max-width: 1264px;
  margin: 0 auto;
}
.multiline-ellipsis-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}
.multiline-ellipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}
.multiline-ellipsis-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}
