@use "./styles/variable";
* {
  font-family: "Poppins", sans-serif;
}
html {
  background-image: linear-gradient(to right, #e2e8f0, #e5e7eb);
  color: #333 !important;
}
.nav-item:hover .nav-link {
  color: variable.$primary-color-light !important;
  font-weight: bold;
}
.dark {
  /* background-color: #0f172a !important; */
  background-image: linear-gradient(to right, #0f172a, #111827);
  color: white !important;
}
.dark .nav-item:hover .nav-link {
  color: variable.$primary-color !important;
  font-weight: bold;
}
.wrapper {
  width: 100%;
}
.container {
  max-width: 1264px;
  margin: 0 auto;
}
